@tailwind base;

body {
  font-family: Inter, sans-serif;
}
@tailwind components;
@tailwind utilities;

@keyframes fadeAndMoveUp {
  0% {
    opacity: 0;
    transform: translateY(16px); /* Startposisjonen - 20px ned */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Sluttposisjonen - ingen transformasjon */
  }
}

.fade-in-and-move-up {
  animation: fadeAndMoveUp 1.5s ease forwards; /* Animerer med keyframes */
}
